:root {
    --color-slate-900: #1f314f;
    --color-slate-500: #68778d;
    --color-slate-300: #d5e1ef;
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
}

*, 
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--color-slate-300);
    font-size: 1.6rem;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 15px;
    width: 320px;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: var(--spacing-200);
}

.card__image {
    position: relative;
    width: 100%;
    border-radius: 10px;
    z-index: 4;
}

.card__heading,
.card__quote {
    position: relative;
    margin: 0;
    z-index: 3;
    padding: 0 var(--spacing-200);
    text-align: center;
}

.card__heading {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--color-slate-900);
    margin: var(--spacing-200) 0;
}

.card__quote {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--color-slate-500);
    margin-bottom: var(--spacing-300);
}