:root {
    --color-slate-900: #1f314f;
    --color-slate-500: #68778d;
    --color-slate-300: #d5e1ef;
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
}

*, 
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--color-slate-300);
    font-size: 1.6rem;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.card {
    border-radius: 15px;
    width: 320px;
    background: #fff;
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
    position: relative;
    z-index: 1;
    margin: auto;
}

.card__image {
    position: relative;
    width: 100%;
    border-radius: 10px;
    z-index: 4;
}

.card__heading,
.card__quote {
    padding-left: var(--spacing-300);
    padding-right: var(--spacing-300);
    position: relative;
    z-index: 3;
}

.card__heading {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--color-slate-900);
}

.card__quote {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--color-slate-500);
}

.big-circle,
.small-circle {
    background: #3685ff;
    position: absolute;
    border-radius: 100%;
    z-index: 2;
}

.big-circle {
    width: 320px;
    height: 320px;
    right: 33.5%;
    bottom: 66.5%;
}

.small-circle {
    width: 260px;
    height: 260px;
    bottom: 11.5%;
    left: 46.5%;
}